# EditorConfig is awesome: http://EditorConfig.org

# Top-most EditorConfig file
root = true

[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.go]
indent_style = tab
charset = utf-8
indent_size = 4

[*.json]
charset = utf-8
indent_size = 2

[*.sh]
charset = utf-8
indent_size = 2
